<header>
    <title>Local Freight Services</title>
    <h1 class="page-title">Local Freight Services xg29763</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='lfs.css') }}">
</header>
<main>
	<div class="intro">
		<h1 class="title">Your local delivery service.</h1>
	</div>
	<div class="account">
        <p class="meta">Current location: <a href="/">home</a><br>
        Logged in as: <mark>noone</mark>. <a href="/logout">logout</a></p>
	</div>
	<div class="icons">
        <a href="/"><span class="fa fas fa-home"></span></a>
        <a href="/tracker"><span class="fa fa-map-marker"></span></a>
	</div>
	<div class="links">
		<h3>Links</h3>
		<p><i class="fa fa-map-marker"></i> <a href="/tracker">Track my delivery</a></p>
        <p><i class="fa fa-lock"></i> <a href="/customer">New delivery request</a></p>
        <p><i class="fa fa-lock"></i> <a href="/dispatch">Warehouse dispatch</a></p>
        <p><i class="fa fa-lock"></i> <a href="/delivery">Driver assistance</a></p>
	</div>
	<div class="content">
	     <form action="/login" method="post">
            <label for="username">Username:</label> <input type="text" name="username" required><br>
            <label for="password">Password:</label> <input type="password" name="password" required>
            <input type="submit" value="Login">
        </form>
		<p>We have one large warehouse where we operate our entire delivery service from, which is located in the main street of town. Bring your articles of postage to our customer service outlet at the front of the warehouse, where our customer service attendant will receive your article and tender the delivery fee. Within 24 hours your article is processed and dispatched by the Delivery Dispatch Manager to a Courier for delivery.</p>
	</div>
</main>
<footer>
    <p>Copyright &copy; 2019 Local Freight Services. All rights reserved.
      <a class="twitter-share-button" href="https://twitter.com/#"><span class="fa fa-twitter"></span></a>
      <a href="https://facebook.com/#"><span class="fa fa-facebook-square"></span></a>
      <a href="https://plus.google.com/#"><span class="fa fa-google-plus-square"></span></a>
    </p>
</footer>
<script src="{{ url_for('static',filename='lfs.js') }}"></script>